{% extends 'shared/_MainLayout.html' %}
{% load render_partial %} 
{% block content %}

<div class="col-lg-7 offset-lg-1">
  <div class="contact-info-wrap">
    <div class="contact-title mb-30">
      <br />
      <h3>یک پیام برای ما بگذارید</h3>
    </div>
    <div class="contact-us-from-wrap">
      <form id="contact-form" class="contact-us-box" method="post" action="">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-12">
            <div class="single-input">
              <label> نام </label>
              {{ edit_form.first_name }} 
              {% for error in edit_form.first_name.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
          </div>
          <div class="col-lg-12">
            <div class="single-input">
              <label>  نام خانوادگی</label>
              {{ edit_form.last_name }} 
              {% for error in edit_form.last_name.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %}
            </div>
          </div>

          <div class="col-lg-12">
            <div class="single-input">
              <button class="submit-button submit-btn" type="submit">
                ارسال
              </button>
              <p class="form-messege"></p>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
