{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% block content %}

 <div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
                    <li class="breadcrumb-item active">ورود - ثبت نام</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
 </div>
        <!-- breadcrumb-area end -->
    <div class="main-content-wrap section-ptb lagin-and-register-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                        <!-- login-register-tab-list start -->
                            <div class="login-register-tab-list nav">
                                <a href="{% url 'eshop_accounts:user_login' %}">
                                <h4> ورود </h4>
                                </a>
                                <a  href="{% url 'eshop_accounts:user_register' %}">
                                <h4> ثبت نام </h4>
                                </a>
                            </div>
                            <!-- login-register-tab-list start -->
                            <div class="login-register-tab-list nav">
                                    <div id="lg2" class="tab-pane">
                                        <div class="login-form-container">
                                            <div class="login-register-form">
                                                <form action="" method="post">
                                                    <div class="login-input-box">
                                                        {% csrf_token %}
                                                        {% comment %} {{ form}} {% endcomment %}
                                                        <label for="{{ form.username.id_for_label}}"> {{ form.username.label}} </label>
                                                        {{ form.username}}
                                                        {%for error in  form.username.errors%}
                                                            <p style = "color : red;">{{error}}</p>
                                                        {% endfor %}

                                                        <label for="{{ form.email.id_for_label}}"> {{ form.email.label}} </label>
                                                        {{ form.email}}
                                                        {%for error in  form.email.errors%}
                                                            <p style = "color : red;">{{error}}</p>
                                                        {% endfor %}

                                                        <label for="{{form.password.id_for_label}}"> {{form.password.label}} </label>
                                                        {{form.password}}
                                                        {%for error in form.password.errors%}
                                                            <p style = "coloe : red;">{{error}}</p>
                                                        {% endfor %}
                                                        <label for="{{form.confirm_password.id_for_label}}"> {{form.confirm_password.label}} </label>
                                                        {{form.confirm_password}}
                                                        {%for error in  form.confirm_password.errors%}
                                                            <p style = "color : red;">{{error}}</p>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="button-box">
                                                       <button type="submit" class="btn btn-primary mt-4">ثبت نام</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}