
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('mainFonts/IRANSans(FaNum).ttf');
    src: url('mainFonts/IRANSans(FaNum)_Bold.ttf') format('truetype'), /* IE6-8 */ url('mainFonts/IRANSans(FaNum)_Light.ttf') format('truetype'), /* FF39+,Chrome36+, Opera24+*/ url('mainFonts/IRANSans(FaNum)_Medium.ttf') format('truetype'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('mainFonts/IRANSans(FaNum)_UltraLight.ttf') format('truetype');
}
