
{% extends 'shared/_MainLayout.html' %} {% load static %} {% load render_partial%}  {% load jalali_tags %}
{% block title %}   جزئیات وبلاگ{% endblock %}
{% block content %}<!-- Start Page Banner -->

 <div class="pa-breadcrumb">
        <div class="container-fluid">
            <div class="pa-breadcrumb-box">
                <h1>تک وبلاگ</h1>
                <ul>
                    <li><a href="index.html">صفحه اصلی</a></li>
                    <li>تک وبلاگ</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
    <!-- blog single start -->
    <div class="pa-blog-single spacer-top spacer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="pa-blog-box">
                        <img  src="{{blog.image.url}}" alt="{{blog.name}}" class="img-fluid">
                        <div class="pa-blog-title">
                             {% for category in blog.category.all %}
                            <a href="#" class="pa-blog-category">
                            {{ category }}
                            </a>
                            {% endfor %}
                            <h2>{{blog.name}}</h2>
                            <a href="#" class="pa-blog-date">{{blog.created | time }}</a>
                            <p>{{blog.description | safe}}</p>
                        </div>
                    
                    </div>
                   
                </div>
                <div class="col-lg-4">
                    <div class="pa-blog-sidebar">
                        <div class="pa-widget pa-search">
                            <input type="text" placeholder = "جستجو در اینجا">
                            <button class="pa-btn">جستجو</button>
                        </div>
                        <div class="pa-widget pa-shop-category">
                            <h2 class="pa-sidebar-title">دسته وبلاگ ها </h2>
                            <ul>
                                <li><a href="javascript:;"> محصولات برتر<span>4</span></a></li>
                                <li><a href="javascript:;"> جدیدترین محصولات<span>5</span></a></li>
                                <li><a href="javascript:;"> روند جدید<span>6</span></a></li>
                                <li><a href="javascript:;"> تازه واردان <span>2</span></a></li>
                                <li><a href="javascript:;"> اخیراً اضافه شده است <span>9</span></a></li>
                            </ul>
                        </div>
                        <div class="pa-widget pa-product-widget">
                            <h2 class="pa-sidebar-title">پستهای اخیر</h2>
                            <ul>
                                <li>
                                    <div class="pa-pro-wid-img">
                                        <img src="assets/images/product-wid1.png" alt="image" class="img-fluid">
                                    </div>
                                    <div class="pa-pro-wid-content">
                                        <h4><a href="javascript:;">چای ارگانیک سیاه</a></h4>
                                        <p>با کمترین هزینه برای انجام تمرینات ورزشی ، امتحان کنید</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="pa-pro-wid-img">
                                        <img src="assets/images/product-wid2.png" alt="image" class="img-fluid">
                                    </div>
                                    <div class="pa-pro-wid-content">
                                        <h4><a href="javascript:;">چای برگ شل</a></h4>
                                        <p>حداقل استفاده از ورزش در ورزش را انجام دهید</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="pa-pro-wid-img">
                                        <img src="assets/images/product-wid3.png" alt="image" class="img-fluid">
                                    </div>
                                    <div class="pa-pro-wid-content">
                                        <h4><a href="javascript:;">چای سبز</a></h4>
                                        <p>حداقل استفاده از ورزش در ورزش را انجام دهید</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="pa-widget pa-tag">
                            <h2 class="pa-sidebar-title">ابرها را برچسب بزنید</h2>
                            <ul>
                                <li><a href="javascript:;"> محصول </a></li>
                                <li><a href="javascript:;"> آیورودا </a></li>
                                <li><a href="javascript:;"> خالص </a></li>
                                <li><a href="javascript:;"> پرطرفدار </a></li>
                                <li><a href="javascript:;"> گیاهی </a></li>
                                <li><a href="javascript:;"> سالم </a></li>
                                <li><a href="javascript:;"> محصول </a></li>
                                <li><a href="javascript:;"> آیورودا </a></li>
                                <li><a href="javascript:;"> پرطرفدار </a></li>
                                <li><a href="javascript:;"> خالص </a></li>
                                <li><a href="javascript:;"> گیاهی </a></li>
                                <li><a href="javascript:;"> سالم </a></li>
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog single end -->
{% endblock %}